<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="getMotherDetails.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <getMotherDetails.Properties.Settings>
            <setting name="getMotherDetails_GVK_ChildDetails__102Integration"
                serializeAs="String">
                <value>https://kcrkit.telangana.gov.in/102Integration/Services/102Integration.asmx</value>
            </setting>
            <setting name="getMotherDetails_GVK_PregancyDetails__102Integration"
                serializeAs="String">
                <value>https://kcrkit.telangana.gov.in/102Integration/Services/102Integration.asmx</value>
            </setting>
            <setting name="getMotherDetails_GVK_ANCDetails__102Integration"
                serializeAs="String">
                <value>https://kcrkit.telangana.gov.in/102Integration/Services/102Integration.asmx</value>
            </setting>
            <setting name="getMotherDetails_GVK_RegistrationDetails__102Integration"
                serializeAs="String">
                <value>https://kcrkit.telangana.gov.in/102Integration/Services/102Integration.asmx</value>
            </setting>
            <setting name="getMotherDetails_GVK_UPDATE_SyncDetails__102Integration"
                serializeAs="String">
                <value>https://kcrkit.telangana.gov.in/102Integration/Services/102Integration.asmx</value>
            </setting>
            <setting name="getMotherDetails_GVK_PostEventDetails__102Integration"
                serializeAs="String">
                <value>https://kcrkit.telangana.gov.in/102Integration/Services/102Integration.asmx</value>
            </setting>
        </getMotherDetails.Properties.Settings>
    </applicationSettings>
</configuration>